body {
  font-family: "Press Start 2P", cursive;
  background: #000;
  color: #fff;
  min-width: 1000px;
}

h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

h1 > img {
  margin: 0 auto;
}

.main {
  display: flex;
  justify-content: center;
}

.links {
  display: flex;
  align-items: center;
  margin-left: 20px;
  width: 300px;
}

.links > ul {
  display: flex;
  padding: 20px;
  flex-direction: column;

}

.links a {
  display: flex;
  align-items: center;
  padding: 10px;
}

.links img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.links li:last-child img {
  border-radius: 50%;
}

.filler {
}

canvas {
  display: flex;
  width: 500px;
  border: 5px solid yellow;
  margin-top: 20px;
}

p {
  display: flex;
  justify-content: center;
  color: #fff;
  font-family: "Press Start 2P", cursive;
  font-size: 12px;
}


.instructions {
  display: flex;
  align-items: center;
  padding-right: 20px;
  width: 300px;
  justify-content: flex-end;
}

.instructions > ul {
  font-family: "Press Start 2P", cursive;
  color: #fff;
  list-style: none;
  padding: 20px;
  max-width: 250px;
  display: flex;
  align-items: baseline;
  flex-direction: column;
  resize: none;
}

.instructions > ul > li {
  padding: 10px 0;
}
