body {
  font-family: "Press Start 2P", cursive;
  background: #000;
}

h1 > img {
  padding: 50px;
  display: block;
  margin: 0 auto;
  max-height: 50px;
  width: 100%;
  max-width: 500px;
}

.main {
  display: flex;
  flex-direction: row;
  color: white;
  height: 100%;
  width: 100%;
}

.links {
  display: flex;
  color: white;
  width: 33%;
  align-items: center;
}

.links > ul {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.links a {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.links img {
  margin-right: 20px;
  max-height: 30px;
  max-width: 30px;
}

.links li:last-child img {
  border-radius: 50%;
}

.filler {
  width: 33%;
  display: flex;
  justify-content: center;
}

canvas {
  display: block;
  border: 5px solid yellow;
  max-width: 500px;
  margin-top: 20px;
}

p {
  display: flex;
  justify-content: center;
  color: #fff;
  font-family: "Press Start 2P", cursive;
  font-size: 12px;
}


.instructions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 33%;
}

.instructions > ul {
  font-family: "Press Start 2P", cursive;
  color: #fff;
  list-style: none;
  padding: 20px;
  max-width: 440px;
  display: flex;
  align-items: baseline;
  flex-direction: column;
}

.instructions > ul > li {
  margin-left: 65px;
  padding: 10px 0;
}
